* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1 {
    text-align: center;
}

/* label {
    
} */

.input {
    border-radius: 3px;
    height: 2rem;
    width: 100%;
}

.submit {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 75px;
}

.reset {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 75px;
}